.isloss:before {
    right: -5px;
    top: -15px;
}

.matchbg:before {
    height: 10px;
    width: 12px;
    margin-left: 2px;
    content: '.';
    color: transparent;
    display: block;
    position: absolute;
    right: -2px;
    background-size: contain;
    top: -5px;
    background-repeat: no-repeat;
    background-position-x: center;
}

.match_on > div > div:before {
    background-image: none !important;
}

.matched:before{
    background-image: url(./link.png);
}

.unmatched:before{
    background-image: url(./unlink.png);
}

.btn-side_a {
    background-color: orange !important;
}
.btn-side_b {
    background-color: blue !important;
}