body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body
{
    height: 100%;
    margin:0;
    padding:0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.axes {
  color: black;
  font-size: 0.7rem;
  height: 100%;
  padding-left: 30px;
}

.axes > div {
  position: absolute;
}

.axes > div:first-child {
  margin-top: 6px;
  left: 0;
}

.axes > div:nth-child(2) {
  background-color: #fafafa;
  top: 6px;
  left: 50px;
  height: 34px;
}

.axes > div:nth-child(3) {
  background-color: #fff;
  top: 43px;
  left: 50px;
  height: 361px;
}

.axes > div:last-child {
  top: 425px;
  left: 50px;
  width: 500px;
}

.axes > div > div {
  position: absolute;
}



/*
card 
*/
.card {
  font-size: 12px;
}

.card > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 14px;
  text-align: center;
}


.graph {
  background-color: #eee;
  margin: 10px 5px 40px 5px;
  height: 460px;
  position: relative;
}

.graph > div {
  position: absolute;
}


.info > div {
  display: inline-block;
}

.info > div:first-child {
  border-right: 1px solid lightgray;
  padding: 0px 10px 0px
}

.info > div > div:first-child {
  border-bottom: 1px solid lightgray;
}


.info > div:last-child {
  padding: 0px 30px 0px 10px
}

.info > div > div:last-child {
  font-weight: bold;
}

.menu {
  box-shadow: 5px 5px 8px #ccc;
  display: flex;
  height: 70px;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 15px 0px 0px 10px;
  width: 100%;
}
.menu > div:first-child {
  font-size: 1.2rem;
  font-weight: bold;  
  float: left;
  padding: 4px 0px 0px 0px;
}
.menu > div:first-child > div {
  display: none;
  padding-left: 20px;
}
.menu > div:last-child {
  float: right;
}



.custom-grid {
  padding: 10px;
}

.custom-grid > .react-grid-Container > .react-grid-Main > .react-grid-Grid > div:last-child > .react-grid-Viewport > .react-grid-Canvas > div:last-child > .react-grid-Row > .react-grid-Cell {
  padding: 0px !important;
}

.custom-grid > .react-grid-Container > .react-grid-Main > .react-grid-Grid > .react-grid-Header > .react-grid-HeaderRow > div > div {
  font-size: 0.7rem;
  padding: 5px 2px 3px 2px !important;
}

.custom-grid > .react-grid-Container > .react-grid-Main > .react-grid-Grid > .react-grid-Header > .react-grid-HeaderRow > div > div:nth-child(-n+9) {
  border-top: 3px solid orange;
}

.custom-grid > .react-grid-Container > .react-grid-Main > .react-grid-Grid > .react-grid-Header > .react-grid-HeaderRow > div > div:nth-child(n+11) {
  border-top: 3px solid blue;
}


/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}


/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}




.upload {
  height: 100%;
  text-align: center;
  width: 100%;
}

.upload > table {
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
  text-align: left;
}

.toaster {
  display: none;
  position: absolute;
  background-color: wheat;
  padding: 10px;
}
.toaster > div {
  display: inline;
  font-weight: bolder;
  cursor: pointer;
  padding-left: 30px;
}

.welds_table {
  display: table;
  font-size: smaller;
  padding: 5px;
  width: 100%;
}
.welds_table > div {
  display: table-cell;
}
.welds_table > div > div {
  border: 1px solid gray;
  display: inline-block;
  padding: 0px 3px 0px 3px;
  width: 100%;
}
.welds_table > div:nth-child(-n+5) > div:first-child {
  border-top: 3px solid orange;
  border-bottom: none;
}
.welds_table > div:nth-child(n+6) > div:first-child {
  border-top: 3px solid blue;
  border-bottom: none;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.grid_adj {
    width: 830px!important;
    max-width: 830px!important;
}

